$RESOURCES$
- https://www.geeksforgeeks.org/python/python-data-types
- [Python Documentation](https://docs.python.org/3/library/datatypes.html)
- [Revision Resource](https://realpython.com/cheatsheets/python/)

## SEQUENCE DATA TYPES

## 1. Strings

DONE!!

## 2. List

- most common and most versatile **data structures** in python
- is data type, but it saves various things in just one object
- 
- as a series of boxes, that have a single address

- variable is just a location
- 
- Lists are Mutable - modifyable

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits

x = 16 # int 
x1 = 12 # int

num = [16,12]

In [ ]:
import sys

x = 999999999 # Integer 28 bytes -  9 nine times
print(sys.getsizeof(x))

x = 14.22 # float # 24 bytes
print(sys.getsizeof(x))

x = 'a' # str 42 bytes
print(sys.getsizeof(x))

x = [1.2,2,5] # list 56 bytes
print(sys.getsizeof(x))

- int - 28 bytes of memory
- string - 42 for one character, then 1 byte for each additional
-

- add more elements to the same list, and change the contents
-

In [ ]:
num = [10,20,30,40]
print(num)

#### LIST COMPREHENSION

new_list = [`expression` for `item` in `iterable` if `condition`]

```python
numbers = [1, 2, 3, 4, 5]
squares = [x ** 2 for x in numbers]
print(squares) # Output: [1, 4, 9, 16, 25]

In [ ]:
# OPTIONAL
# LIST COMPREHENSION

num = [x for x in range(0,100)]

num[99]

In [ ]:
# access each element

num100 = num[100]
num100

In [ ]:
# slicing works for List tuples too
# num = [ 0, 1, 2 ,3 , ... 100]

# slicing can help us get a small slice of this list

num[0:10] # first 10 elements # start, stop
num[10:] #  where to start  # start: auto go to end
num[:20]  #  first 20 elements  # auto start form beginning: end
num[::1] # print all
num[::] # print all
num[:] # print all

num[0:30:2] # first even numbers upto 30 # start: stop : step
num[10:0:-1] # start from 0 go back to end, and start backwards
num[:50:-1] # auto start from end, go to 50 # auto start: end : step

In [ ]:
num = [10,20,30,40]

num[0] = 33

print(num)

[33, 20, 30, 40]

In [89]:
# multiple types of data

idrees = [0, 'idrees', 45.55, 'card']
saufi = [1, 'saufi', 15.00, 'cash']

idrees[2] = 65
idrees

[0, 'idrees', 65, 'card']

### List Operations

## 3. Tuple

- Tuples are immutable
- cannot modify them, once made

In [ ]:
num_tuple = (10,20,30,40)
print(num_tuple)

# access using index
num_tuple[3] 

# modify using index
num_tuple[0] = 33 # DOES NOT WORK
# BECAUSE TUPLE IS IMMUTABLE

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment

In [88]:
idrees = (0, 'idrees', 45.55, 'card')
idrees[2] = 65

TypeError: 'tuple' object does not support item assignment

### Tuple Operations

## 4. Set

## 5. Dictionary