# $Pandas$

- *fast*, *powerful*, *flexible* and easy to use **open source** **data** **analysis** and **manipulation** tool
- it has functions for **analyzing**, **cleaning**, **exploring**
- 
- 
- Data which is structured in a way
- 
- Pandas creates `Series` and `Dataframe` objects

- similarity in the way we learn `pandas` and `SQL`

> ---

### Exercise

- Create dictionary name `data` of 5 `Students`
- Store `Math`, `English`, `Science` marks

In [3]:
data = {
    'Student': ,
    'Math': ,
    'English': ,
    'Science': ,
}

SyntaxError: expression expected after dictionary key and ':' (1496214719.py, line 2)

In [13]:
data = {
    'Student': ['Idrees','Saufi','Faiz','Dila','Nadirah'],
    'Math': [99, 85, 95, 85, 98],
    'English': [45, 35, 25, 65, 59],
    'Science': [55, 65, 75, 85, 87],
}

data

{'Student': ['Idrees', 'Saufi', 'Faiz', 'Dila', 'Nadirah'],
 'Math': [99, 85, 95, 85, 98],
 'English': [45, 35, 25, 65, 59],
 'Science': [55, 65, 75, 85, 87]}

In [ ]:
# pip install pandas

import pandas as pd


# create a dataframe ---- Tables

df = pd.DataFrame(data)
print(df)
# dataframe appears as cool looking table in jupyter notebook

# index ---- column1 column2 ...

type(df)    # pandas.DataFrame

   Student  Math  English  Science
0   Idrees    99       45       55
1    Saufi    85       35       65
2     Faiz    95       25       75
3     Dila    85       65       85
4  Nadirah    98       59       87

pandas.DataFrame

In [30]:
# indexing ----- get the contents from an index
# df[0] # does not work here

# but it is working with columns
df['Student']       # works  #  pandas.Series ---- of Student column
df.Student   # works  #  pandas.Series ---- of Student column

0     Idrees
1      Saufi
2       Faiz
3       Dila
4    Nadirah
Name: Student, dtype: str

In [ ]:
# series object ------ indexed sequences

srs = pd.Series(data)
srs

# index   ------ Content

# Series[index]

# srs[0] # does not work
srs['Student'] # Does work --- Contents of student
data['Student'] # Same thing, but we are using dictionary in this case!!!

['Idrees', 'Saufi', 'Faiz', 'Dila', 'Nadirah']

In [44]:
Math = [99, 85, 95, 85, 98]

# A proper series object
Math_srs = pd.Series(Math) # pandas.Series
Math_srs

# index --- actually is working like a charm
type(Math_srs) # exact result for us
type(Math_srs[2])

# Series --- saves on every index numpy data

numpy.int64

In [21]:
# df ---->  series
df.English # you can access each of the columns
df.Math
df.Student

0     Idrees
1      Saufi
2       Faiz
3       Dila
4    Nadirah
Name: Student, dtype: str


- $Series$ 
    - To store data at indexes
    - At each index, data was stored in a `numpy` `datatype` - or a `numpy` object inside


- $DataFrame$ 
    - Table
    - A combination of Series objects

### DataFrame Attributes / Properties
- .shape
- .dtypes
- .columns
-

In [48]:
df.dtypes

Student      str
Math       int64
English    int64
Science    int64
dtype: object

### DataFrame Methods
- .info()
- .head()
- .sample()
- .describe()